body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #595959;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.pad {
  padding: 0 24px;
}

/* Header */
.header {
  border: 1px solid gray;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  box-shadow: 0 3px 10px grey;
  display: none;
}

.header-title {
  color: #ec5242;
}

.nav-list {
  justify-content: space-between;
  color: gray;
}

/* Hero */
.hero {
  padding: 100px 24px;
  height: 50%;
  background-color: #d3d3d3;
  grid-gap: 24px;
}

.hero * {
  margin: 0;
}

.hero-title {
  flex-direction: column;
  gap: 5px;
}

.hero-title p {
  color: #ec5242;
  font-size: 18px;
}

.hero-title h1 {
  font-size: 31px;
  font-weight: 900;
  text-transform: uppercase;
}

.image-text {
  background-image: url(https://images.unsplash.com/photo-1573147367786-a5a227916f0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero > p {
  border: 2px solid white;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
}

.date p {
  font-size: 13px;
}

/* Program */
.program {
  padding: 50px 24px;
  height: 50%;
  background-color: #272a31;
  color: white;
  grid-gap: 30px;
}

.program * {
  margin: 0;
}

.program h2 {
  text-align: center;
}

.program-cards {
  flex-direction: column;
  gap: 15px;
}

.card {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 15px;
  align-items: center;
  gap: 20px;
}

.card img {
  min-height: 60%;
  min-width: 60%;
  align-self: center;
}

.card h3 {
  color: #ec5242;
  min-width: 30%
}

.card p {
  font-size: 12px;
}

.join-btn {
  background-color: #ec5242;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  padding: 30px;
  margin: auto;
}
